body {
  background: linear-gradient(45deg, #002fa7, #d5ecf5);
  opacity: 0.8;
}

.gray{
  color: lightgray;
}

.white{
  color: white;
}

strong{
  font-size: 20px;
}

.bar{
  text-align: center;
}

.bar:hover{
    background-color: lightblue;
}

a{
transition: box-shadow 0.3s ease;
}

a:hover{
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}