body{
  background: black;
}

.fixed{
  position: fixed;
}


marquee{
  margin-top: 100px;
  font-size: 30px;
  color: orange;
}

div {
  will-change: transform;
}

#ui {
  transform-style: preserve-3d;
}
#ui .text {
  position: absolute;
  font-size: 15rem;
  color: #fff;
  line-height: 15rem;
  font-family: "Anton", sans-serif;
  padding: 20px 0;
  mix-blend-mode: screen;
  transform-style: preserve-3d;
  margin-left: 300px;
  margin-top: 100px;
}
#ui .text:nth-child(1) {
  -webkit-clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
          clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
  -webkit-animation: wave 2000ms -10000ms ease-in-out infinite alternate;
          animation: wave 2000ms -10000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(2) {
  -webkit-clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
          clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
  -webkit-animation: wave 2000ms -9800ms ease-in-out infinite alternate;
          animation: wave 2000ms -9800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(3) {
  -webkit-clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
          clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
  -webkit-animation: wave 2000ms -9600ms ease-in-out infinite alternate;
          animation: wave 2000ms -9600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(4) {
  -webkit-clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
          clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
  -webkit-animation: wave 2000ms -9400ms ease-in-out infinite alternate;
          animation: wave 2000ms -9400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(5) {
  -webkit-clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
          clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
  -webkit-animation: wave 2000ms -9200ms ease-in-out infinite alternate;
          animation: wave 2000ms -9200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(6) {
  -webkit-clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
          clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
  -webkit-animation: wave 2000ms -9000ms ease-in-out infinite alternate;
          animation: wave 2000ms -9000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(7) {
  -webkit-clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
          clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
  -webkit-animation: wave 2000ms -8800ms ease-in-out infinite alternate;
          animation: wave 2000ms -8800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(8) {
  -webkit-clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
          clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
  -webkit-animation: wave 2000ms -8600ms ease-in-out infinite alternate;
          animation: wave 2000ms -8600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(9) {
  -webkit-clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
          clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
  -webkit-animation: wave 2000ms -8400ms ease-in-out infinite alternate;
          animation: wave 2000ms -8400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(10) {
  -webkit-clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
          clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
  -webkit-animation: wave 2000ms -8200ms ease-in-out infinite alternate;
          animation: wave 2000ms -8200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(11) {
  -webkit-clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
          clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
  -webkit-animation: wave 2000ms -8000ms ease-in-out infinite alternate;
          animation: wave 2000ms -8000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(12) {
  -webkit-clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
          clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
  -webkit-animation: wave 2000ms -7800ms ease-in-out infinite alternate;
          animation: wave 2000ms -7800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(13) {
  -webkit-clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
          clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
  -webkit-animation: wave 2000ms -7600ms ease-in-out infinite alternate;
          animation: wave 2000ms -7600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(14) {
  -webkit-clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
          clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
  -webkit-animation: wave 2000ms -7400ms ease-in-out infinite alternate;
          animation: wave 2000ms -7400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(15) {
  -webkit-clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
          clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
  -webkit-animation: wave 2000ms -7200ms ease-in-out infinite alternate;
          animation: wave 2000ms -7200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(16) {
  -webkit-clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
          clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
  -webkit-animation: wave 2000ms -7000ms ease-in-out infinite alternate;
          animation: wave 2000ms -7000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(17) {
  -webkit-clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
          clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
  -webkit-animation: wave 2000ms -6800ms ease-in-out infinite alternate;
          animation: wave 2000ms -6800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(18) {
  -webkit-clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
          clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
  -webkit-animation: wave 2000ms -6600ms ease-in-out infinite alternate;
          animation: wave 2000ms -6600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(19) {
  -webkit-clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
          clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
  -webkit-animation: wave 2000ms -6400ms ease-in-out infinite alternate;
          animation: wave 2000ms -6400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(20) {
  -webkit-clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
          clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
  -webkit-animation: wave 2000ms -6200ms ease-in-out infinite alternate;
          animation: wave 2000ms -6200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(21) {
  -webkit-clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
          clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
  -webkit-animation: wave 2000ms -6000ms ease-in-out infinite alternate;
          animation: wave 2000ms -6000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(22) {
  -webkit-clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
          clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
  -webkit-animation: wave 2000ms -5800ms ease-in-out infinite alternate;
          animation: wave 2000ms -5800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(23) {
  -webkit-clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
          clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
  -webkit-animation: wave 2000ms -5600ms ease-in-out infinite alternate;
          animation: wave 2000ms -5600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(24) {
  -webkit-clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
          clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
  -webkit-animation: wave 2000ms -5400ms ease-in-out infinite alternate;
          animation: wave 2000ms -5400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(25) {
  -webkit-clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
          clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
  -webkit-animation: wave 2000ms -5200ms ease-in-out infinite alternate;
          animation: wave 2000ms -5200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(26) {
  -webkit-clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
          clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
  -webkit-animation: wave 2000ms -5000ms ease-in-out infinite alternate;
          animation: wave 2000ms -5000ms ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
    color: #000; /* Black */
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    color: #ccc; /* Gray */
  }
}



h2{
  color: lightgray;
  font-size: 20px;
}

a{
  display: inline-flex;
  font-size: 15px;
  font-family: "macho", sans-serif;
  font-weight: 400;
  font-style: italic;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.intro-1{
  text-align: left;
  margin-left: 650px;
  color: dimgray;
  font-size: 15px;
  margin-top: 50px;
  opacity: 0.5;
}


.intro-2{
  text-align: right;
  margin-top: 20px;
  margin-right: 290px;
  color: dimgray;
  font-size: 15px;
  opacity: 0.5;
}


.mfp-with-zoom .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}
.mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
  right: 100%;
  bottom: 100%;
}
.mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
  left: 100%;
  top: 100%;
}

.mfp-with-zoom.mfp-ready .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image:hover figcaption {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0.3s;
}
.mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before, .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before {
  right: -1.5em;
  bottom: -1.5em;
}
.mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
  left: -1.5em;
  top: -1.5em;
}


.gallery {
  margin-top: 1500px;
  margin-left: 500px;
  -moz-column-gap: 0;
       column-gap: 0;
}
@media (min-width: 480px) {
  .gallery {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 1260px) {
  .gallery {
    -moz-column-count: 3;
         column-count: 3;
  }
}

.gallery-link1{
  margin-top: 0px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link2{
  margin-top: 200px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link3{
  margin-top: 300px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link4{
  margin-top: 400px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link5{
  margin-top: 1500px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link6{
  margin-top: 2500px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link7{
  margin-top: 1000px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}


.gallery-link8{
  margin-top: 500px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}

.gallery-link9{
  margin-top: 300px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}

.gallery-link10{
  margin-top: 600px;
          -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 20%;
}
.gallery-image:before, .gallery-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 16px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  will-change: border;
}
.gallery-image:after {
  border-width: 0;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
html:not(.touch) .gallery-image {
  overflow: hidden;
}
html:not(.touch) .gallery-image:hover:before {
  border-width: 16px;
}
html:not(.touch) .gallery-image:hover:after {
  border-width: 32px;
}
.touch .gallery-image figcaption {
  top: auto;
  bottom: 2em;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-bg {
  background-color: rgba(0, 0, 0, 0.9);
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 1;
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-with-zoom img.mfp-img {
  padding: 0;
}
.mfp-with-zoom .mfp-figure:after {
  top: 0;
  bottom: 0;
}
.mfp-with-zoom .mfp-container {
  padding: 0;
}
.mfp-with-zoom .mfp-content {
  overflow: hidden;
}
.mfp-with-zoom .mfp-bottom-bar {
  top: auto;
  bottom: 0;
  margin-top: 0;
}
.mfp-with-zoom .mfp-title {
  top: auto;
  bottom: 2em;
}
.mfp-arrow {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  transform: translateY(-50%);
}
.mfp-arrow:before, .mfp-arrow:after {
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg) translate(-50%, -100%);
  opacity: 1;
  top: 50%;
  left: 50%;
  transition: all 0.15s;
}
.mfp-arrow:active {
  transform: translateY(-50%) scale(0.95);
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:before, .mfp-arrow-left:after {
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.mfp-arrow-left:after {
  margin-left: 2rem;
}
.mfp-arrow-left:hover:before, .mfp-arrow-left:active:before {
  margin-left: 2rem;
}
.mfp-arrow-left:hover:after, .mfp-arrow-left:active:after {
  margin-left: 0;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:before, .mfp-arrow-right:after {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.mfp-arrow-right:after {
  margin-left: 2rem;
}
.mfp-arrow-right:hover:before {
  margin-left: 2rem;
}
.mfp-arrow-right:hover:after {
  margin-left: 0;
}

button.mfp-close {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
button.mfp-close:before, button.mfp-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transition: all 0.15s;
  transform-origin: 0 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
button.mfp-close:before {
  transform: rotate(-45deg);
}
button.mfp-close:after {
  transform: rotate(135deg);
}
button.mfp-close:hover:before {
  transform: rotate(135deg);
}
button.mfp-close:hover:after {
  transform: rotate(315deg);
}
button.mfp-close:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
  color: inherit;
}

[id=footer] {
  margin-top: 10vh;
  padding: 10vh 0;
  text-align: center;
}
[id=footer] .container {
  position: relative;
}
[id=footer] .container:before, [id=footer] .container:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  z-index: 10;
  border-top: 2px solid;
  width: 10%;
  margin-bottom: 10vh;
}
[id=footer] .container:after {
  left: auto;
  right: 20px;
}
[id=footer] * {
  display: block;
}
[id=footer] * + * {
  margin-top: 5vh;
}
[id=footer] .logo {
  font-weight: 600;
  font-size: 1.5em;
}
[id=footer] .copy {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
}