body{
  background: black;
}

marquee{
  margin-top: 100px;
font-size: 30px;
color: orange;
}

.title{
  color: white;
  font-size: 200px;
  font-family: "search", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  animation: glow 2s, ease-in-out, infinite, alternate;
}

.link{
  display: inline-flex;
  font-size: 15px;
  font-family: "macho", sans-serif;
font-weight: 400;
font-style: italic;
}

h2{
  color: lightgray;
  font-size: 20px;
}

a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: lightblue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.intro-1{
  text-align: left;
  margin-left: 350px;
  color: dimgray;
  font-size: 15px;
  margin-top: 50px;
  opacity: 0.5;
}

.intro-1:hover{
  color: hotpink;
}

.intro-2{
  text-align: right;
  margin-top: 20px;
  margin-right: 290px;
  color: dimgray;
  font-size: 15px;
  opacity: 0.5;
}

.intro-2:hover{
  color: orange;
}