body {
  margin: 0;
}

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(45deg, #206126, #011f09);
    }

    body::before {
      width: 50vmin;
      height: 50vmin;
      content: "";
      background-image: linear-gradient(135deg, #4b614d, #011f09);
      border-radius: 30vmin 70vmin 53vmin 47vmin / 26vmin 46vmin 54vmin 74vmin;
      box-shadow: 
            0 -2vmin 3vmin #78a674 inset, 
            0 1vmin 4vmin #38a12f inset,
            0 -2vmin 7vmin #038f50 inset;
      animation: anim 30s infinite;
      display: inline-block;
      filter: drop-shadow(0 0 3vmin yellow) drop-shadow(0 5vmin 4vmin #b4f748)
        drop-shadow(2vmin -2vmin 15vmin #134a23)
        drop-shadow(0 0 7vmin darkgreen);
      position: relative;
      top: 0;
    }

    @keyframes anim {
      0%,
      100% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
        box-shadow: 0 -2vmin 3vmin #78a674 inset, 0 1vmin 4vmin #38a12f inset,
          0 -2vmin 7vmin #038f50 inset;
      }

      10% {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
      }

      20% {
        border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
      }

      30% {
        border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
        box-shadow: -1vmin -2vmin 3vmin #78a674 inset,
          -1vmin -2vmin 4vmin #38a12f inset, 1vmin -1vmin 7vmin #038f50 inset;
      }

      40% {
        border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
      }

      50% {
        border-radius: 100%;
        box-shadow: 0 2vmin 3vmin #78a674 inset, 0 1vmin 4vmin #38a12f inset,
          0 2vmin 7vmin #038f50 inset;
      }

      60% {
        border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
      }

      70% {
        border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
        box-shadow: 1vmin 1vmin 4vmin #78a674 inset,
          2vmin -1vmin 4vmin #38a12f inset, -1vmin -1vmin 5vmin #038f50 inset;
      }

      80% {
        border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
      }

      90% {
        border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
      }
    }

h1{
    padding: 10px 0;
    text-align: right;
   color: whitesmoke;
   font-family: "ltc-broadway-engraved", sans-serif;
   font-weight: 400;
   font-style: normal;
    font-size: 65px;
    margin-top: 700px;
    opacity: 0.8;
    transition: width 2s, height 4s;
}

h1:hover{
font-size: 85px;
}

h2{
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 30px;
  text-align: right;
}

.down{
  color: whitesmoke;
  animation-name: down;
  animation-duration: 5s;
}

.down:hover {
  background: -webkit-radial-gradient(#40ff00, #7d81ff, #00ed8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.mood{
  color:greenyellow;
  font-size: 25px;
  opacity: 0.7;
   font-size: 11px;
    font-weight: 400;
    font-family: 'Roobert', 'Helvetica', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(13, 7.69%);
    grid-template-rows: repeat(25, 5rem);
    grid-template-areas: ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." "t1  t1  t1  .   .   .   .   t3  t3  t3  .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   t2  t2  t2  .   .   .   .   t4  t4  t4  ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." "t5  t5  t5  .   .   .   .   t6  t6  t6  .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   t7  t7  t7  .   .   .   .   t8  t8  t8  ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." "t9  t9  t9  .   .   .   .   t10 t10 t10 .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   ." ".   .   .   .   .   .   .   .   .   .   .   .   .";
    position: fixed;
    width: 150%;
    min-height: 150vh;
    transform: translate(-494.75px, -62px);
}
