*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 background-color: #805239;
 background-size: cover;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.wrapper:hover{
  cursor: url('img/leaf.png');
}

.button {
  margin-top: -280px;
  width: 240px;
  height: 207px;
  background: #694e00;
  border-radius: 50%;
  mix-blend-mode: color-dodge;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.blob {
      position: absolute;
      width: 240px;
      height: 207px;
      background: #694e00;
      border-radius: 50%;
      mix-blend-mode: color-dodge;
      z-index: 200;
}

.word{
  color: whitesmoke;
  margin-top: 330px;
  margin-right: 50px;
  font-family: "brevia", sans-serif;
font-weight: 700;
font-style: normal;
text-align: right;
}

.mood{
  position: sticky;
margin-top: -300px;
font-family: "brevia", sans-serif;
font-weight: 400;
font-style: italic;
font-size: 30px;
margin-left: 10px;
top: 5%;
}

h3{
  margin-top: 400px;
  color: #614817;
}

h1{
  color: #9e4d06;
}

h4{
  color: #852d04;
}

h5{
 color: #3d1a09;
}

 #canvas-container {
            position: fixed;
            width: 100%;
            z-index: -1000;
        }

