body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-size: cover;
    height: 1000px;
}

.title{
margin-left: -600px;
margin-top: 600px;
    color: white;
}

.quote{
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
  color: #ffe6f1;
  margin-left: 50px;
  width: 800px;
  margin-top: 50px;
}

h1{
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: "BUBL" 100;
}


section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

.button {
    position: fixed;
    margin-left: 300px;
    margin-top: 200px;
  padding: 20px 50px;
  border-radius: 30px;
  background-color: hotpink;
  color: black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button:hover {
  background-color: lightpink;
  cursor:  pointer;
}

.buttonOn {
  background-color:  black;
  color:  white;
}

.light {
  background-color: #ffe6f1;
}

.container {
    text-align: center;
    margin-top: 2500px;
    margin-left: -1020px;
     font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
}

#color-display {
    margin-top: 20px;
    width: 1400px;
    height: 40px;
}

.content{
  margin-top: 1900px;
  margin-left: -600px;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
}

.content:hover{
    cursor: url(img/one.png);
}

h2:hover{
  background: -webkit-radial-gradient(#facaec, #f7bad8, #f7c6cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3:hover{
  background: -webkit-radial-gradient(#fc9dc0, #e68aa7, #ff8cc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4:hover{
  background: -webkit-radial-gradient(#85114b, #962148, #b82a6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5:hover{
  background: -webkit-radial-gradient(#fa7a7a, #f58ca4, #f77988);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face {
    position: sticky;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 400px; /* This is your margin; adjust as needed */
  top:0;
}

.face::before{
  /* 生成嘴巴 */
  content: '';
  position: absolute;
  width: 150px;
  height: 70px;
  background: #ffe6f1;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  top: 180px;
  transition: all 0.5s;
}
.face:hover::before{
  /* 设置鼠标经过嘴巴效果 */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 20px;
  top: 210px;
}
.eyes{
  /* 设置两只眼睛位置，切设置为容器，为两只眼睛布局做准备 */
  position: sticky;
  top: 65px;
  top:0;
}
.eyes > .eye{
  /* 生成白色眼球 */
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  margin: 0 15px;
  position: relative;
}
.eyes > .eye::before{
  /* 生成和设置黑色眼珠位置 */
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 50%;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 768px) {
.quote{
  margin-left: -500px;
  width: 800px;
  margin-top: 300px;
  font-size: 10px;
}
.button{
  margin-top: 1050px;
  margin-left: 5px;
  }
.face{
width: 100px;
  height: 100px;
}
.face::before{
    margin-left: -200px;
  width: 90px;
  height: 36px;
}
.face:hover::before{
  height: 12px;
}
.eyes > .eye{
  /* 生成白色眼球 */
  margin-left: -200px;
  width: 48px;
  height: 48px;
}
.eyes > .eye::before{
  width: 24px;
  height: 24px;
}
  .title{
margin-left: -600px;
}
.content{
  margin-left: -300px;
  font-size: 10px;
}
.container {
  margin-top: 2300px;
    margin-left: -820px;
    font-size: 12px;
}
}
