body {
  background: linear-gradient(45deg, #002fa7, #d5ecf5);
  opacity: 0.8;
}

.gray{
  color: lightgray;
}

.white{
  color: white;
}

strong{
  font-size: 20px;
}

.bar{
  text-align: center;
    -webkit-filter: grayscale(100%) ; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(3px);
  -webkit-transition: all .2s ease-in-out;;
}

.bar:hover{
    background-color: lightblue;
    filter: none;
}

a{
transition: box-shadow 0.3s ease;
}

a:hover{
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}